agm-map{
    height: 50%;
}
::-webkit-scrollbar{
    width: 0.5px;
    background-color: white;
}
a:hover{
    background: rgba(190, 190, 190, 0.849)  !important;
}
.mat-form-field-infix{
    border-top: 1.2em solid transparent !important;
    padding: 0 !important;
}

